  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        border: 0;
        font-family: 'Inter', sans-serif;
  }

  body {
    color: white;
    background-color: #36393F;
  }

  .container {
    max-width: 1140px;
    margin: auto;
    padding: 25px;
  }
  .none {
    display: none;
  }
  .flex {
    display: flex;
  }
  .bg-primary {
    background-color: #39c36d;
  }
  .bg-secondary {
    background-color: #c4c4c4;
  }